:root{
    --doc-height:100%
}


#bg{
    background-image: url("/fff.jpeg");
    background-size: cover;
}

#bgtest{
    height: 100%;
    min-height: -webkit-fill-avaible;
}

.avax-menuitem:hover{
    color:#000;
    text-shadow: -1px 0 #bbb, 0 1px #bbb, 1px 0 #bbb, 0 -1px #bbb;
}


#avax-lng a:hover{
    color: #f081a2;
}

#avaxmaintitle h1{
    line-height: 4rem;
}

#avaxmaintitle h2{
    font-family: BrokenDreams;
    color: #f92564;
}

#avax-copyright p{
    transform-origin: left;
    transform: rotate(270deg);
    background: white;
    padding: 4px 10px;
    border-radius: 3px;
    font-size: 10px;
}



#avax-contact span{
    transform-origin: right;
    transform: rotate(270deg);
    padding: 0px 10px;
    border-radius: 3px;
    font-size: 10px;
    display: block;
}

html,body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    height: var(--doc-height);
}

#avax-di{
    animation: showup 5s;
    animation-fill-mode: forwards;
}

@keyframes showup {
    0%{opacity: 0;}
    60%{opacity: 0.8;}
    80%{opacity: 1;}
    100%{opacity: 1;}
}


.avax-animate .avax-blendin{
    animation: showup 1s;
    animation-fill-mode: forwards;
}

@keyframes showup {
    0%{opacity: 0;}
    60%{opacity: 0.8;}
    80%{opacity: 1;}
    100%{opacity: 1;}
}