:root{
    --doc-height:100%
}


#bg{
    background-image: url("/fff.jpeg");
    background-size: cover;
}

#bgtest{
    height: 100%;
    min-height: -webkit-fill-avaible;
}

.avax-menuitem:hover{
    color:#000;
    text-shadow: -1px 0 #bbb, 0 1px #bbb, 1px 0 #bbb, 0 -1px #bbb;
}


#avax-lng a:hover{
    color: #f081a2;
}

#avaxmaintitle h1{
    line-height: 4rem;
}

#avaxmaintitle h2{
    font-family: BrokenDreams;
    color: #f92564;
}

#avax-copyright p{
    transform-origin: left;
    transform: rotate(270deg);
    
    padding: 4px 10px;
    border-radius: 3px;
    font-size: 10px;
}



#avax-contact span{
    transform-origin: right;
    transform: rotate(270deg);
    padding: 0px 10px;
    border-radius: 3px;
    font-size: 10px;
    display: block;
}

html,body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    height: var(--doc-height);
}

#avax-di{
    animation: showup 4s;
    animation-fill-mode: forwards;
}

@keyframes showup {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes showout {
    0%{opacity: 1;}
    100%{opacity: 0;}
}


.avax-blendout{
    animation: showout 1s;
    animation-fill-mode: forwards;
}

.avax-blendin{
    animation: showup 1s;
    animation-fill-mode: forwards;
}

.avax-anim{
    animation: axmenu 1s;
    animation-fill-mode: forwards;
}

.avax-anim-neg{
    animation: axmenu2 1s;
    animation-fill-mode: forwards;
}

@keyframes axmenu {
    0%{
        opacity: 1;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
    100%{
        opacity: 0.10;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}


@keyframes axmenu2 {
    0%{
        opacity: 0.10;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100%{
        opacity: 1;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

#avaxmenu{
    opacity: 0;
}

#avax-services span{
    padding: 4px 12px;
    opacity: 0.5;
    cursor: pointer;
}