#bg{
    background-image: url("/fff.jpeg");
    background-size: cover;
}

#bgtest{
    height: 100vh;
    min-height: -webkit-fill-avaible;
}

.avax-menuitem:hover{
    color:#000;
    text-shadow: -1px 0 #bbb, 0 1px #bbb, 1px 0 #bbb, 0 -1px #bbb;
}

#avax-lng a{
    color: #bbb;
}

#avax-lng a:hover{
    color: #f081a2;
}

#avaxmaintitle h1{
    font-size: 5.5rem!important;
    line-height: 4rem;
}
@media only screen and(min-width:768px){
    #avaxmaintitle h1{
        font-size: 8.5rem!important;
        line-height: 6rem;
    }
}

#avaxmaintitle h2{
    font-family: BrokenDreams;
    color: #f92564;
}

#avax-copyright p{
    transform-origin: left;
    transform: rotate(270deg);
    background: white;
    padding: 4px 10px;
    border-radius: 3px;
    font-size: 10px;
}



#avax-contact span{
    transform-origin: right;
    transform: rotate(270deg);
    background: white;
    padding: 0px 10px;
    border-radius: 3px;
    font-size: 10px;
    display: block;
}

body {
    height: 100vh;
    min-height: -webkit-fill-available;
}
html {
    height: -webkit-fill-available;
}
