.avax-projects{
    width: 300px;
    height: 600px;
    border-radius: 15px;
    
}

.avax-projects-inner{
    
    height: 100%;
    border-radius: 9px;
    
    background-image: url("/../../ui.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.swiper {
    
    height: 450px;
  }

  .swiper-slide-next{

  }

video.fullscreen{
    width: 100%;
    height: 100%;
    object-fit: cover;
}  


.avax-project-services a {
    padding: 4px 12px;
    opacity: 0.5;
    height: 26px;
}

.avax-projects-inner video{
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    transition: all 0.5s ease-in;
}

.avax-projects-inner:hover video{
    opacity: 1;
}

.avax-projects-inner .avax-project-description p{
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    transition: all 0.5s ease-in;
}

.avax-projects-inner:hover .avax-project-description p{
    opacity: 1;
}


.avax-projects-inner .avax-project-description{
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    transition: all 0.5s ease-in;
}

.avax-projects-inner .avax-project-description-small{
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    transition: all 0.5s ease-in;
    background-color:rgba(0, 0, 0, 0.65);
}


.avax-projects-inner:hover .avax-project-description{
    opacity: 1;
}

.avax-projects-inner:hover .avax-project-description-small{
    opacity: 0;
    
}

