---
import { getAllPagesWithSlugs,getAllPagesWithSlugsAlt, getPageBySlug,getPageBySlugAlt } from '../lib/api';
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';

export async function getStaticPaths() {
  //const pagesWithSlugs = await getAllPagesWithSlugs(); 
//console.log(pagesWithSlugs);
const pagesWithSlugsAlt = await getAllPagesWithSlugsAlt(); 
console.log(pagesWithSlugsAlt);

return await pagesWithSlugsAlt.edges.map(({ node }) => {
  return {
    params: { slug: node.slug },
  };
});



}

const { slug } = Astro.params;

//const page = await getPageBySlugAlt(slug);

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>asdasd</title>
    <meta name="viewport" content="width=device-width" />
    
  </head>
  <body>
    <div class="flex flex-col p-10">
      <div class="mb-5 text-4xl font-bold">asdad</div>
      <article class="prose lg:prose-xl">
        asdasd
      </article>
    </div>
  </body>
</html>