---
import '../styles/Footer.css';
import Skills from '../components/Skills.astro';
---

<div class="mx-auto max-w-7xl pt-24 pb-12 px-4 sm:px-6 lg:px-12">
    <div class="flex gap-10 grow flex-col sm:flex-row">
        <div class=" text-center flex justify-center">
            <a href="/">
                <h1 class="text-6xl block text-center font-bold leading-12 text-avaxdark">AVAX</h1>
                <span></span>
                <h2 class="text-2xl sm:text-4xl" id="avax-footer-subtitle">Digital ideas</h2>
            </a>
        </div>
        <div class="flex flex-col items-end grow ">
            <div class="w-full text-xs">
                <div class="flex justify-center sm:justify-end mb-2">
                    <a href="#" target="_blank">Anzengruberstraße 44/3</a>
                    <p class="px-2"> | </p>
                    <a href="tel:+436505056644" target="_blank">T +43 650 505 6644</a>
                </div>
                <div class="flex justify-center sm:justify-end mb-2">
                    <a href="mailto:office@avax.at" target="_blank">office@avax.at</a>
                    <p class="px-2"> | </p>
                    <p>Mo-Do: 9:00-17:00, Fr: 9:00-13:00</p>
                </div>
            </div>
            <div class="avax-services mt-8 w-full mb-4 sm:mb-0 ">
                <div class=" flex flex-wrap justify-center sm:justify-end bottom-32 sm:bottom-1/4 items-center h-8 ">
                    <Skills/>
                    <!-- sm:-mr-2 -->
                </div>
            </div>
        </div>
    </div>
</div>
