---
import { getMenu } from '../lib/api';
const menudata = await getMenu();
console.log("asdasd1");
console.log(menudata);
console.log("asdasd2");
---
<a href="">Home</a>
<a href="">About</a>
<a href="">Projects</a>
<a href="">Services</a>
<a href="">Contact</a>