---
import { getMenu } from '../lib/api';
import '../styles/Navigation.css';
const menudata = await getMenu();
const menuitems = menudata[0].menuItems.edges;
---

<div class=" flex" id="bgtest">
    <div class="m-2 p-4 rounded-3xl flex-1 relative" id="bg">
        <div class="flex justify-between items-center">
            
            <div class="block w-16 h-12">
                <svg id="Layer_1" class="w-12 h-12" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 269.49 353.38">
                    <defs>
                        <style>
                            .cls-1{
                                fill:#d3d3d3;
                                stroke:#bbb;
                                stroke-miterlimit:10;
                                stroke-width:20px;
                                stroke-dasharray: 2338.5;
                                stroke-dashoffset: 2338.5;
                                transform-origin: center;    
                                animation-timing-function: cubic-bezier(.71,.17,.88,.64);
                            }
                            .fireanimate{
                                transform: rotate(135deg);
                                transition: all 0.3s ease-in-out;
                            }

                            .wateranimate{
                                transform: rotate(0deg);
                                transition: all 0.3s ease-in-out;
                            }
                        </style>
                    </defs>
                    <polyline id="avaxlogo" class="cls-1" points="198.78 196.07 21.36 325.42 134.75 28.07 248.13 325.42 70.78 196.07"/>
                </svg>
            </div>
            
            <div class="c-hamburger c-hamburger--arrow-right relative z-50" id="avaxhamburger">
                <div class="c-hamburger-inner">
                    <span class="c-hamburger-bar"></span>
                    <span class="c-hamburger-bar"></span>
                    <span class="c-hamburger-bar"></span>
                </div>
            </div>
            
        </div>
        
        <div class="absolute w-full left-0 h-screen flex top-0 items-center justify-center bg-slate-50" id="avaxmaintitle">
            <div class="absolute top-1/4 text-center">
                 <h1 class="text-6xl sm:text-9xl block text-center font-bold py-4 leading-12 text-avaxdark">AVAX</h1>
                 <span></span>
                 <h2 class="text-6xl sm:text-8xl" id="avax-di">Digital ideas</h2>
            </div>
        </div>

        <div class="absolute h-screen top-0 flex items-center left-0" id="avax-copyright">
            <p class="bg-avaxbg">© 2023 Augustin Malle</p>
        </div>


        <div class="absolute h-screen top-0 flex items-center right-0" id="avax-contact">
            <span class="bg-avaxbg">
                <a href="mailto: office@avax.at" class="px-2 mx-2 bg-avaxbg">MAIL</a><a href="tel:+43 650 505 66 44" class="bg-avaxbg px-2 mx-2">TEL</a>     
            </span>
        </div>
        
        <div class="absolute left-0 h-screen flex top-0 items-center justify-center bg-slate-50 w-full z-40" id="avaxmenu">
            <div class="">
                {menuitems.map((menuitem) => <a class="text-6xl sd:text-8xl block text-center font-bold py-4 leading-12 avax-menuitem text-avaxpink avax-blendin"  href={menuitem.node.path}>{menuitem.node.label}</a>)}
            </div>
        </div>


        <div class="absolute left-0 h-screen flex top-0 items-center justify-center bg-slate-50 w-full" id="avax-services">
            <div class=" flex flex-wrap justify-center absolute bottom-32 sm:bottom-1/4 px-2">
                <span class="mx-2 bg-avaxbg text-avaxdark text-xs uppercase rounded-2xl border-dashed border-avaxdark border my-2 text-center">Webdevelopement</span>
                <span class="mx-2 bg-avaxbg text-avaxdark text-xs uppercase rounded-2xl border-dashed border-avaxdark border my-2 text-center">Webdesign</span>
                <span class="mx-2 bg-avaxbg text-avaxdark text-xs uppercase rounded-2xl border-dashed border-avaxdark border my-2 text-center">Consulting</span>
                <span class="mx-2 bg-avaxbg text-avaxdark text-xs uppercase rounded-2xl border-dashed border-avaxdark border my-2 text-center">Marketing</span>
            </div>
        </div>

        <div class="flex justify-center absolute bottom-4" id="avax-lng">
            <a href="#" class="text-greylight hover:text-avaxpink mx-2">AT</a>
            <a href="#" class="text-greylight hover:text-avaxpink mx-2">SL</a>
        </div>
    </div>
</div>

<script>
import '../scripts/navigation.js';
</script>
